@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

p{
    margin: 0%;
    box-sizing: border-box;
    color: #DEDEDE !important;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

h1 {
    margin: 0%;
    box-sizing: border-box;
    color: #DEDEDE !important;
    font-size: 10%;
}

h2{
    font-weight: 600;
    box-sizing: border-box;
    color: #DEDEDE !important;
    font-size: 16px;
}

h3 {
    padding-top: 30px;
    margin-left: 50px;
    font-weight: 600;
    margin-top: 0;
    box-sizing: border-box;
    color: #DEDEDE !important;

}
h4 {
    box-sizing: border-box;
    color: #DEDEDE !important;
}

.hidden {
    display: none;
}


body {
    margin: 0%;
    background-color: #171717 !important;

}
main {
    padding: 0px;
    height: auto;
    background-color: #171717;
}

/*----Banner------*/
.subtitle-banner{
    margin-top: 20px;
    margin-bottom: 0px;

    display: flex;
    font-weight: 300;
    box-sizing: border-box;
    color: #DEDEDE !important;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.title-banner {
    font-size: 40px;
    font-weight: 600;
}
.container {
    margin: 30px;
}
.dropdown {
    padding-top: 30px;
    margin-left: 50px;
}
.container-banner {
    width: 100%;
    height: 29vh;
    background-image: url(https://images.unsplash.com/photo-1608270586620-248524c67de9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: 69%;
    border-radius: 0px 0px 50px 50px;
    position: relative;
  
}
.banner {
   width: 100%;
   height: 29vh;
   background-size: cover;
   border-radius: 0px 0px 50px 50px;
   position: relative;
   margin: 0;
   background: #28282860;
   backdrop-filter: blur(0.3rem);
   display: flex;
   justify-content: center;
   flex-direction: column;

}
.banner-text{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
    margin-top: 30px;
}

/*----Header------*/
.container-header{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.title-header{
    font-size: 18px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

.header-text{
    margin-left: 40px;
    margin-right: 40px;
}

/*----Main------*/
.container-main{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/*----Main: cleinte base------*/
.title-baseclient{
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.container-baseclient{
    width: 100%;
}

/*----Main: cantidad------*/
.container-quantity{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

}

.text-quantity{
    width: 70%;
}

.title-quantity{
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.drop-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-btn{
width: 100%;
}

/*----Main: amigos------*/
.container-friends{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.title-friends{
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.caracteristica-value{
    margin: 30px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    padding: 20px 20px;
    border-radius: 10px;
}

/*----Main: sabores recomendados------*/
.container-flavors{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.title-flavors{
    font-weight: 300;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

/*----Main: sliders de sabores------*/

.container-sliders{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.title-sliders{
    font-weight: 600;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

#submit-sliders--btn{
    width: 100%;
}

/*----Main: recomendaciones finales------*/
.container-recomendation{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.title-recomendation{
    font-weight: 600;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


character-value div {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.rango{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#newDropdownId {
    margin: 10px;
    background-color: #1E1E1E;
    border-color: #4D4D4D;
    color: #BBBBBB;
}
#inputGroupSelect02 {
    margin: 10px;
    background-color: #1E1E1E;
    border-color: #4D4D4D;
    color: #BBBBBB;
}

#inputGroupSelect01 {
    margin: 10px;
    background-color: #1E1E1E;
    border-color: #4D4D4D;
    color: #BBBBBB;
}

#slider {
    width: 200px;
    color: #DEDEDE
}

#slider-value {
    font-size: 18px;
    margin-top: 10px;
}


